* {
    background-color: rgb(218, 217, 217);
    margin: 0;
  }
  
  .header {
    background-color: #444444;
    display:flex;
    height: 30vh;
    width: 100%vw;
    margin: 0;
  }
  
  .body {
    border: 0ch;
    background-color: white;
    margin: 0px 60px 0px 60px;
    width: 80%vw;
    height: 100vh;
    display: flex;
    justify-content: center;
  }
  
  .footer {
    background-color: #222222;
    display:flex;
    height: 15vh;
    width: 80%vw;
    margin: 0px 60px 0px 60px;
  }